{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@views": "./src/views",
          "@icons": "./src/icons",
          "@styles": "./styles"
        }
      }
    ]
  ]
}
