.single_post_section {
  display: flex;
  gap: 40px;
  width: 100%;
  margin-right: 28px;

  @media only screen and (max-width: 900px) {
    display: block;
  }
}

.post_content {
  padding: 2px;
  font-size: 18px;
  line-height: 25px;
}

.promo_text {
  margin: 36px 0px;
  font-size: 18px;
  line-height: 24px;

  a {
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: underline;
  }
}

.blogSuggestion {
  & > p {
    color: var(--gray-dark);
    margin-bottom: 0;
  }
  margin-top: 120px;
  row-gap: 16px;
  display: flex;
  flex-direction: column;
}
