:root {
  // --primary-color: #015975;
  --primary-color: #2557a7;
  //--secondary-color: #206d85;
  --secondary-color: #0a66c2;
  --gray: #f3f2f1;
  --gray-dark: #424242;
  --blue: #2557a7;
  --light-black: #2d2d2d;
}
