html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pageTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
}

.pageDescription {
  width: 82%;
  margin: 0;
  height: 84px;
  font-size: 18px;
  line-height: 25px;
}

@media screen and (max-width: 768px) {
  .pageDescription {
    width: 100%;
  }
}
